<div id="about-section" class="site-section">
    <div class="container">

        <div class="row justify-content-center text-center mb-5">
            <div class="col-md-4 section-heading">
                <h2 class="heading mb-3">O nama</h2>
            </div>
        </div>

        <div class="row justify-content-between">
            <div class="col-lg-6 mb-4 mb-lg-0 order-lg-2" data-aos="fade-left">
                <img src="/images/about-us.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
                <h2 class="heading mb-4">Gdje se nalazimo ?</h2>
                <p>
                    Zavisno od godišnjih doba, u periodu koji nam dozvoljava treninge na otvorenom,
                    trening kamp nam se nalazi u naselju Kralje (Bihać), na stadionu NK "Sloga 1937".
                </p>
                <p> U periodu kišovitih i zimskih dana, locirani smo u HSC Areni (kompleks nekadašnjeg Kombiteksa Bihać).</p>
            </div>
        </div>

        <div class="row justify-content-between align-items-center pt-5">

            <div class="col-lg-6 mb-4 mb-lg-0" data-aos="fade-right">
                <img src="/images/trener.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-6" data-aos="fade-left" data-aos-delay="100">
                <h2 class="heading mb-1 mt-3">Trener.</h2>
                <h3>
                    Goran Piralić
                    <a class="btn btn-secondary" style="background-color: #3b5998;" href="https://www.facebook.com/gorangogo.piralic" role="button" target="_blank">
                        <i class="bi bi-facebook footer-icon"></i></i>
                    </a>
                    <a class="btn btn-secondary" style="background-color: #ac2bac;" href="https://www.instagram.com" role="button">
                        <i class="bi bi-instagram footer-icon"></i>
                    </a>
                </h3>

                <p>
                    <em>
                        Moji prvi nogometni koraci počinju 1998 godine u NK''Jedinstvo'' Bihać na poziciji golmana u tadašnjim pionirima.
                        Zbog odlaska trenera Senada Hodžić u mali, ali istorijom bogat klub FK ''Prekounje'' Bihać, ja sam krenuo njegovim
                        stopama, kao i mnogi moji vršnjaci i postao član FK ''Prekounje''. Da ne zaboravim, uz veliko hvala još jednom treneru
                        Ismetu Saračeviću–Mimetu, koji se već tu nalazio kao domaćin.
                    </em>
                </p>
                <p>
                    <em>
                        Stara želja i ideja, koja je došla na realizaciju prije skoro godinu dana, bila je da pokrenem prvu golmansku školu na USK-a,
                        koja je registrovana isključivo iz razloga što su golmani jako bitna karika svakog kluba, a na našem kantonu su maksimalno zapostavljeni.
                        Manjak trenerskog kadra za gomanske pozicije, pogotovo sa omladinskim kategorijama, gdje je najbitnije prvi korak napraviti ispravno.
                    </em>
                </p>
            </div>
        </div>


    </div>
</div>