<section id="footer-section">

    <footer class="container-fluid footer-section border-top">
        <div class="slider position-absolute top-0">
            <div class="slide-track">
                <div class="slide">
                    <img src="/images/sponzori/bh-telecom.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/sponzori/bh-telecom.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/sponzori/bh-telecom.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/sponzori/bh-telecom.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/sponzori/bh-telecom.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/sponzori/bh-telecom.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/sponzori/bh-telecom.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/sponzori/bh-telecom.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/sponzori/bh-telecom.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/sponzori/bh-telecom.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/sponzori/bh-telecom.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/sponzori/bh-telecom.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/sponzori/bh-telecom.png" height="100" width="250" alt="" />
                </div>
                <div class="slide">
                    <img src="/images/sponzori/bh-telecom.png" height="100" width="250" alt="" />
                </div>
            </div>
        </div>


        <div class="container">
            <div class="row">

                <div class="col-md-3 ml-auto">
                    <h3 class="text-dark">Links</h3>
                    <ul class="list-unstyled footer-links">
                        <li><a href="#home-section">Početak</a></li>
                        <li><a href="#about-section">O nama</a></li>
                        <li><a href="#players-section">Polaznici</a></li>
                        <li><a href="#news-section">Novosti</a></li>
                        <li><a href="#gallery-section">Galerija</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h3 class="text-dark">Kontakti</h3>
                    <ul class="list-unstyled">
                        <li class="pb-1">Tel: +38765360400</li>
                        <li class="pb-1">Email: piralic_goran@hotmail.com </li>
                        <li>
                            <a class="btn btn-secondary" style="background-color: #3b5998;" href="https://www.facebook.com/gogi1937" role="button" target="_blank">
                                <i class="bi bi-facebook footer-icon"></i></i>
                            </a>
                            <a class="btn btn-secondary" style="background-color: #ac2bac;" href="https://www.instagram.com" role="button" target="_blank">
                                <i class="bi bi-instagram footer-icon"></i>
                            </a>
                        </li>
                    </ul>
                    <h3 class="text-dark pt-2 mb-0">Sponzoriraj nas</h3>
                    <p>
                        Pruži i ti podršku našem timu.
                        Kontaktiraj nas za više informacija.
                        <button type="button" class="btn btn-sm btn-link" data-toggle="modal" data-target="#sponzorModal">
                            Sponsoriraj nas
                        </button>
                    </p>
                </div>
                <div id="sponzorModal" class="modal fade">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Sponzoriraj nas</h5>
                                <button type="button" class="btn-close" data-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <h3 class="text-dark pt-2 mb-0">Piralić Goran</h3>
                                <h3 class="text-dark pt-2 mb-0">Tel: +38765360400</h3>
                                <h3 class="text-dark pt-2 mb-0">Email: piralic_goran@hotmail.com</h3>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <h3 class="text-dark">Lokacija</h3>
                    <div class="card h-100">
                        <iframe class="h-100 w-100" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4001.4196080513316!2d15.841907778498983!3d44.83315656977889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sba!4v1676639596587!5m2!1sen!2sba" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>

            </div>

            <div class="row pt-5 mt-5 text-center">
                <div class="col-md-12">
                    <div class=" pt-5">
                        <p class="copyright">
                            <small>
                                &copy;
                                <script>document.write(new Date().getFullYear());</script> Gogi 1937.</a>
                            </small>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </footer>

</section>