<div id="players-section" class="container">

    <h1 class="fw-light text-center text-lg-start mt-4 mb-0">Naši golmani</h1>

    <hr class="mt-3 mb-5">

    <div class="row text-lg-start">

        <div class="col-lg-3 col-md-4 col-6 mb-2 position-relative player-image-wrapper">
            <img class="player-image img-thumbnail" src="/images/players/player1.jpg" alt="">
            <div class="player-info">
                <p>Damir Majetić <br />Godište 2012.<br />Član Akademije Jedinstvo</p>

            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 mb-2 position-relative player-image-wrapper">
            <img class="player-image img-thumbnail" src="/images/players/player2.jpg" alt="">
            <div class="player-info">
                <p>Damir Majetić <br />Godište 2012.<br />Član Akademije Jedinstvo</p>

            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 mb-2 position-relative player-image-wrapper">
            <img class="player-image img-thumbnail" src="/images/players/player3.jpg" alt="">
            <div class="player-info">
                <p>Damir Majetić <br />Godište 2012.<br />Član Akademije Jedinstvo</p>

            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6 mb-2 position-relative player-image-wrapper">
            <img class="player-image img-thumbnail" src="/images/players/player4.jpg" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-6 mb-2 position-relative player-image-wrapper">
            <img class="player-image img-thumbnail" src="/images/players/player5.jpg" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-6 mb-2 position-relative player-image-wrapper">
            <img class="player-image img-thumbnail" src="/images/players/player6.jpg" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-6 mb-2 position-relative player-image-wrapper">
            <img class="player-image img-thumbnail" src="/images/players/player7.jpg" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-6 mb-2 position-relative player-image-wrapper">
            <img class="player-image  img-thumbnail" src="/images/players/player8.jpg" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-6 mb-2 position-relative player-image-wrapper">
            <img class="player-image  img-thumbnail" src="/images/players/player9.jpg" alt="">
        </div>
        <div class="col-lg-3 col-md-4 col-6 mb-2 position-relative player-image-wrapper">
            <img class="player-image  img-thumbnail" src="/images/players/player10.jpg" alt="">
        </div>
    </div>

</div>