<section id="trening-gifs">
    <div class="bgimg" style="background-image: url('images/carousel-2.jpg'); height:50vh" data-stellar-background-ratio="0.7">
        <div class="container h-100">
            <div class="row h-100">
                <div class="col-12 d-flex justify-content-center pt-4 pb-2 h-50">
                    <div class="row d-flex justify-content-center h-100">
                        <div class="col-4 h-100">
                            <img src="/images/gif/trening1.gif" class="img-fluid h-100 rounded" />
                        </div>
                        <div class="col-4">
                            <h5 class="text-white">
                                Golman ima jedinstvenu poziciju u fudbalu i zahtjeva specijalizovanu obuku da razvije set vještina koje su mu potrebne.
                                Da bi bio efikasan na poziciji, golmanu treba samopouzdanje i čvrstina da bi bio zadnja linija odbrane tima i prva tačka napada.
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex justify-content-center pb-4 pt-2 h-50">
                    <div class="col-4">
                        <h5 class="text-white">
                            Također je potrebno razviti tehničku i taktičku vještinu da bi se integrisao u odbranu tima.
                            Golman je vođa i komunikator. Metode naše golmanske škole su da podstiču bolje donošenje odluka golmana u toku igre. Naši programi su osmišljeni tako da progresivno prate razvitak svakog polaznika individualno na osnovu njegovih godina, sposobnosti i iskustva.
                        </h5>
                    </div>
                    <div class="col-4 h-100">
                        <img src="/images/gif/trening2.gif" class="img-fluid h-100 rounded" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>