@{
    ViewData["Title"] = "Gogi 1937";
}

<div class="site-wrap">

    <partial name="_header" />

    <partial name="_hero" />

    <partial name="_about-us" />

    <partial name="_parallax" />

    <partial name="_trening" />

    <partial name="_trening-gifs" />

    <partial name="_players" />

    <partial name="_news" />

    <partial name="_gallery" />

    <partial name="_footer" />

</div>
